<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body style="text-align: center">
    <h1>ASCII ART WEB</h1>

    <form action="/ascii" method="POST">
        <textarea name="text" rows="4" cols="50"></textarea>
        <br>
        <select name="banner">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option>
        </select>
        <br>
        <button type="submit">Generate Art</button>
        <button type="reset">Delete All</button>
    </form>

    <pre id="ascii-art">{{- . -}}</pre>

    <a href="/">Home</a>
</body>

</html>