<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="IMG">
        <img src="/images/Image1.png" alt="ASCII Art Generator">
    </div>

    <main role="main">
        <form action="/ascii" method="POST">
            <input type="text" name="text" placeholder="Enter text">
            <select name="banner">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select>
            <button type="submit">Generate Art</button>
        </form>

        <button onclick="document.getElementById('ascii-art').innerHTML = ''">Delete All</button>

        <pre id="ascii-art">
            {{- . -}}
        </pre>

        <a href="/">Home</a>
    </main>
</body>

</html>